@import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

#main-content {
    padding-left:36px;
}

nav {
	margin-top:24px;

    ul {
		list-style-type: none;
	}
}

.animateEl {
    background-color: #000;
    width:100px;
    height:100px;
    margin:10px;
}


