<div class="doc_example margin--top">
	<div class="doc_example-rendered bounds">
		{{{html}}}
	</div>
	<div class="doc_example-escaped">
		<pre><code class="html">{{html}}</code></pre>
	</div>
</div>
