/*
* @author ivy
* @module fade
* @description css for manipulating opacity - fade in and out
*/


/*
	use keyframes fade for animation on page load
*/
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.anim-fadeIn {
	animation-delay:2s;
	animation:fadeIn $duration--long $easing--enter;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

.anim-fadeIn--short {
	animation:fadeIn $duration--short $easing--enter;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

.anim-fadeOut {
	animation:fadeOut $duration--medium $easing--exit;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

.anim-fadeOut--short {
	animation:fadeOut $duration--short $easing--exit;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

/*
	opacity modifiers	
*/
.opacity--0 {
	opacity:0;
}

.opacity--1 {
	opacity:1;
}

/*
	transition css 
	used for js, in response to events and user interaction
*/

.trans-fadeIn {
	transition: opacity $duration--medium $easing--enter;
}

.trans-fadeIn--short {
	transition: opacity $duration--short $easing--enter;
}

.trans-fadeOut {
	transition: opacity $duration--medium $easing--exit;
}

.trans-fadeOut--short {
	transition: opacity $duration--short $easing--exit;
}


/*doc
---
title: Fade Animations (Test)
name: .anim-fade--in
category: Basic Animations
---

**Note** This is just to illustrate documentation right now.  
_Fade animations will change in another branch._ 

Example fade animations:

```html_example
<div class='row'>
	<div class='row-item'>
		<div class='boxEl'></div>
		<a href='#' id='fadeOutLink' class='link'>Fade me out</a>
	</div>
	<div class='row-item'>
		<div class='boxEl opacity--0'></div>
		<a href='#' id='fadeInLink' class='link'>Fade me in</a>
	</div>
	<div class='row-item'>
		<div class='boxEl opacity--0 anim-fadeIn'></div>
		Fading in on load...
	</div>
</div>
```

```js
$('#fadeOutLink').on('click', function(e) {
	e.preventDefault();
	swarmAnimation.hide(document.querySelector('.boxEl'));
});

$('#fadeInLink').on('click', function(e) {
	e.preventDefault();
	swarmAnimation.show(document.querySelectorAll('.boxEl')[1]);
});

```
*/

